gerenciador_leads_n8n.json
{
  "name": "Agente Gerenciador de Leads — BnA",
  "nodes": [
    {
      "id": "wh-1", "name": "Webhook Gerenciador",
      "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [180, 300],
      "parameters": { "httpMethod": "POST", "path": "gerenciador-leads", "responseMode": "responseNode", "options": {} },
      "webhookId": "gerenciador-leads-bna"
    },
    {
      "id": "agent-1", "name": "Agente Gerenciador de Leads",
      "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [460, 300],
      "parameters": {
        "agent": "toolsAgent", "promptType": "define",
        "text": "=Processe o seguinte payload recebido da Bia:\n\n{{ JSON.stringify($json.body, null, 2) }}",
        "options": { "systemMessage": "Você é o Agente Gerenciador de Leads da Brasileiros no Atacama.\nRecebe dados de conversas de WhatsApp coletados pela Bia e executa operações no CRM.\n\nREGRAS ABSOLUTAS:\n- NUNCA crie funis ou etapas novos\n- NUNCA invente dados\n- NÃO avance etapa por dados coletados — etapa muda SOMENTE quando pronto_para_humano = true\n- Sempre registre nota no histórico ao final\n- Tags: use apenas as retornadas pela API\n- Tarefas: sempre tipo automatica\n\nFLUXO OBRIGATÓRIO:\n1. buscar_lead_whatsapp (pelo campo whatsapp do input)\n2. SE não existe → criar_lead | SE existe → atualizar_lead (apenas campos novos)\n3. listar_funis → ver TODOS os funis e etapas do CRM\n4. Raciocinar qual funil combina com o destino do lead (comparar nomes)\n5. Verificar campo funis[] do lead:\n   - SE não está → adicionar_ao_funil na etapa mais inicial\n   - SE já está → NÃO mover\n6. listar_tags → ver tags disponíveis\n7. buscar_tags_lead → ver tags atuais\n8. definir_tags → lista COMPLETA (atuais + novas pertinentes)\n9. adicionar_nota → resumo do processamento\n10. SE pronto_para_humano = true:\n    → mover_etapa para etapa de handoff\n    → alterar_responsavel\n    → acionar_notificador\n    → criar_tarefa (tipo automatica)\n\nESCOPO: DENTRO: criar/atualizar lead, tags, nota, funil etapa inicial | FORA: avançar etapas, proposta, negociar\nFORMATO NOTA: [Agente IA] Contexto: {resumo}. Ações: {lista}. Etapa: {etapa}. Tags: {tags}." }
      }
    },
    {
      "id": "gemini-1", "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [460, 520],
      "parameters": { "modelName": "gemini-2.5-flash-preview-04-17", "options": {} },
      "credentials": { "googleGeminiApi": { "id": "SEU_CREDENTIAL_GEMINI", "name": "Google Gemini API" } }
    },
    {
      "id": "respond-1", "name": "Responder ao Webhook",
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [740, 300],
      "parameters": { "respondWith": "json", "responseBody": "={{ { output: $json.output } }}", "options": {} }
    },
    {
      "id": "tool-1", "name": "Tool Buscar Lead WhatsApp",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [-800, 600],
      "parameters": {
        "name": "buscar_lead_whatsapp",
        "description": "Busca lead pelo WhatsApp. Use SEMPRE como primeiro passo. Retorna dados completos incluindo funis[] ou 404 se não existe.",
        "method": "GET",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/leads/by-whatsapp/{{ $fromAI('whatsapp', 'Número WhatsApp do lead', 'string') }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-2", "name": "Tool Criar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [-580, 600],
      "parameters": {
        "name": "criar_lead",
        "description": "Cria novo lead. Use quando buscar_lead_whatsapp retornar 404. Body: {nome (obrigatório), whatsapp, email, destinos (array), data_chegada, data_partida, campos_personalizados}",
        "method": "POST", "url": "https://crm.brasileirosnoatacama.cloud/api/leads",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {nome, whatsapp, email?, destinos (array)?, data_chegada?, data_partida?, campos_personalizados?}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-3", "name": "Tool Atualizar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [-360, 600],
      "parameters": {
        "name": "atualizar_lead",
        "description": "Atualiza dados de lead existente. Envie apenas campos que mudaram.",
        "method": "PUT",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/leads/{{ $fromAI('lead_id', 'ID do lead', 'number') }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON com apenas os campos alterados', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-4", "name": "Tool Listar Tags",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [-140, 600],
      "parameters": {
        "name": "listar_tags", "description": "Lista todas as tags disponíveis. Use antes de aplicar tags.",
        "method": "GET", "url": "https://crm.brasileirosnoatacama.cloud/api/tags?limit=100",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-5", "name": "Tool Buscar Tags Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [80, 600],
      "parameters": {
        "name": "buscar_tags_lead", "description": "Retorna tags atuais de um lead. Use antes de definir_tags.",
        "method": "GET",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/tags/lead/{{ $fromAI('lead_id', 'ID do lead', 'number') }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-6", "name": "Tool Definir Tags Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [300, 600],
      "parameters": {
        "name": "definir_tags", "description": "Define tags do lead (substitui TODAS). Envie lista completa. Body: {tag_ids: [1,2,3]}",
        "method": "PUT",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/tags/lead/{{ $fromAI('lead_id', 'ID do lead', 'number') }}",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {tag_ids: [array COMPLETO de IDs]}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-7", "name": "Tool Listar Funis",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [520, 600],
      "parameters": {
        "name": "listar_funis", "description": "Lista todos os funis e etapas. Use SEMPRE antes de qualquer operação de pipeline para obter etapa_id reais.",
        "method": "GET", "url": "https://crm.brasileirosnoatacama.cloud/api/pipeline/funnels",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth", "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-8", "name": "Tool Adicionar ao Funil",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [740, 600],
      "parameters": {
        "name": "adicionar_ao_funil", "description": "Adiciona lead a um funil. Use quando lead não está no funil. Body: {lead_id, etapa_id (exato de listar_funis)}",
        "method": "POST",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/pipeline/funnels/{{ $fromAI('funnel_id', 'ID do funil', 'number') }}/leads",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {lead_id (number), etapa_id (string exato de listar_funis)}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-9", "name": "Tool Mover Etapa",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [960, 600],
      "parameters": {
        "name": "mover_etapa", "description": "Move lead para outra etapa. Use SOMENTE quando pronto_para_humano = true.",
        "method": "PUT",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/pipeline/entries/{{ $fromAI('entry_id', 'ID da entry do lead no funil', 'number') }}/move",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {etapa_id (string exato de listar_funis)}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-10", "name": "Tool Transferir Funil",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [1180, 600],
      "parameters": {
        "name": "transferir_funil", "description": "Transfere lead entre funis. Use quando destino do lead muda.",
        "method": "POST",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/pipeline/entries/{{ $fromAI('entry_id', 'ID da entry atual', 'number') }}/transfer",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {destino_funnel_id (number), destino_etapa_id (string)}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-11", "name": "Tool Adicionar Nota",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [1400, 600],
      "parameters": {
        "name": "adicionar_nota", "description": "Adiciona nota ao histórico. Use SEMPRE ao final.",
        "method": "POST",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/pipeline/history/{{ $fromAI('lead_id', 'ID do lead', 'number') }}/note",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "descricao", "value": "={{ $fromAI('descricao', 'Texto: [Agente IA] Contexto: ... Ações: ... Etapa: ... Tags: ...', 'string') }}" }] },
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-12", "name": "Tool Criar Tarefa",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [1620, 600],
      "parameters": {
        "name": "criar_tarefa", "description": "Cria tarefa de follow-up. Use quando pronto_para_humano = true. tipo DEVE ser automatica.",
        "method": "POST", "url": "https://crm.brasileirosnoatacama.cloud/api/tasks",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {titulo, descricao, data_vencimento (ISO), status: pendente, tipo: automatica, lead_id}', 'json') }}",
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-13", "name": "Tool Alterar Responsavel",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [1840, 600],
      "parameters": {
        "name": "alterar_responsavel", "description": "Atribui lead a consultor humano. Use quando pronto_para_humano = true.",
        "method": "PUT",
        "url": "=https://crm.brasileirosnoatacama.cloud/api/leads/{{ $fromAI('lead_id', 'ID do lead', 'number') }}/responsavel",
        "authentication": "genericCredentialType", "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "responsavel_id", "value": "={{ $fromAI('responsavel_id', 'ID do consultor humano', 'number') }}" }] },
        "options": {}
      },
      "credentials": { "httpHeaderAuth": { "id": "CRM_CRED", "name": "CRM Brasileiros API" } }
    },
    {
      "id": "tool-14", "name": "Tool Acionar Notificador",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [2060, 600],
      "parameters": {
        "name": "acionar_notificador", "description": "Aciona o Agente Notificador. Use quando pronto_para_humano = true, APÓS alterar_responsavel.",
        "method": "POST", "url": "URL_WEBHOOK_AGENTE_NOTIFICADOR",
        "sendBody": true, "bodyType": "json",
        "jsonBody": "={{ $fromAI('body', 'JSON: {lead_id, nome, whatsapp, destinos, contexto_resumo}', 'json') }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Gerenciador": { "main": [[{ "node": "Agente Gerenciador de Leads", "type": "main", "index": 0 }]] },
    "Agente Gerenciador de Leads": { "main": [[{ "node": "Responder ao Webhook", "type": "main", "index": 0 }]] },
    "Gemini 2.5 Flash": { "ai_languageModel": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_languageModel", "index": 0 }]] },
    "Tool Buscar Lead WhatsApp": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Criar Lead": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Atualizar Lead": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Listar Tags": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Buscar Tags Lead": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Definir Tags Lead": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Listar Funis": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Adicionar ao Funil": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Mover Etapa": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Transferir Funil": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Adicionar Nota": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Criar Tarefa": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Alterar Responsavel": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] },
    "Tool Acionar Notificador": { "ai_tool": [[{ "node": "Agente Gerenciador de Leads", "type": "ai_tool", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
