n8n/workflows/wf-01-agente-bia.json
{
  "name": "WF-01 Agente Bia",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bia",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-webhook",
      "name": "Webhook Mensagem",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "agent-bia"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "Você é a Bia, assistente virtual de vendas da \"Brasileiros no Atacama\" — agência de turismo especializada em experiências no Deserto do Atacama, Salar de Uyuni e Santiago do Chile.\n\n## Personalidade\n- Simpática, natural e profissional — conversa como vendedora humana, NUNCA como robô\n- Português do Brasil, tom acolhedor\n- Emojis com moderação (1-2 por mensagem)\n- Respostas curtas e diretas (é WhatsApp, não email)\n\n## Objetivo\nAtender leads pelo WhatsApp, construir relacionamento, coletar informações da viagem e guiá-los até o fechamento (quando transfere para equipe humana).\n\n## Informações que PRECISA coletar (naturalmente, ao longo da conversa):\n1. Nome completo\n2. Destinos de interesse (Atacama, Uyuni, Santiago)\n3. Datas de viagem (chegada e partida)\n4. Número de viajantes\n5. Email (\"pra te enviar os detalhes, qual seu melhor email?\")\n\n## Regras:\n1. PRIMEIRA interação: cumprimente calorosamente e pergunte o nome\n2. A cada info nova, use `atualizar_lead` para salvar no CRM\n3. Ao responder pela 1ª vez, use `consultar_funis` para ver etapas e `mover_etapa` para avançar o lead\n4. Com informações suficientes, pergunte sobre preferências de passeios\n5. NUNCA feche vendas. Quando cliente quiser fechar:\n   a) Use `criar_tarefa` com detalhes do fechamento\n   b) Use `notificar_humano` para avisar a equipe\n   c) Avise o cliente que será transferido para equipe especializada\n6. Se não souber algo técnico, diga que vai verificar\n7. NUNCA invente preços — use apenas dados do catálogo\n\n## Contexto atual:\n- Lead: {{ $json.nome }} (ID: {{ $json.lead_id }})\n- WhatsApp: {{ $json.whatsapp }}\n- Conversa ID: {{ $json.conversation_id }}\n- Histórico recente:\n{{ $json.historico ? $json.historico.map(m => (m.direction === 'inbound' ? 'Cliente' : 'Bia') + ': ' + m.content).join('\\n') : 'Primeira mensagem' }}"
        }
      },
      "id": "wf01-agent",
      "name": "Agente Bia",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [520, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "wf01-llm",
      "name": "Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [320, 540]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=bia-{{ $('Webhook Mensagem').item.json.conversation_id }}"
      },
      "id": "wf01-memory",
      "name": "Memoria Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [480, 540]
    },
    {
      "parameters": {
        "name": "consultar_lead",
        "description": "Consulta os dados atuais de um lead no CRM. Use para ver informações já cadastradas antes de atualizar.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"lead_id\": 42 }"
      },
      "id": "wf01-tool-consultar",
      "name": "Tool Consultar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [620, 540]
    },
    {
      "parameters": {
        "name": "atualizar_lead",
        "description": "Atualiza dados de um lead no CRM. Use sempre que captar uma informação nova na conversa (nome, email, destinos, datas, número de viajantes). Envie APENAS os campos que mudaram.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"lead_id\": 42, \"nome\": \"João Carlos\", \"email\": \"joao@email.com\", \"destinos\": [\"Atacama\", \"Uyuni\"], \"data_chegada\": \"2026-07-15\", \"data_partida\": \"2026-07-22\", \"num_viajantes\": 2 }"
      },
      "id": "wf01-tool-atualizar",
      "name": "Tool Atualizar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [760, 540]
    },
    {
      "parameters": {
        "name": "consultar_funis",
        "description": "Lista todos os funis de vendas e suas etapas. Use para saber quais etapas existem antes de mover um lead.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{}"
      },
      "id": "wf01-tool-funis",
      "name": "Tool Consultar Funis",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [620, 700]
    },
    {
      "parameters": {
        "name": "mover_etapa",
        "description": "Move um lead para outra etapa no funil de vendas. Use consultar_funis antes para saber as etapas disponíveis. Precisa do entry_id (não lead_id) e do etapa_id de destino.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"lead_id\": 42, \"etapa_id\": \"contato_feito\" }"
      },
      "id": "wf01-tool-mover",
      "name": "Tool Mover Etapa",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [760, 700]
    },
    {
      "parameters": {
        "name": "criar_tarefa",
        "description": "Cria uma tarefa no CRM. Use para registrar ações de fechamento, follow-ups ou qualquer atividade pendente.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"titulo\": \"Fechamento - João Carlos\", \"descricao\": \"Cliente quer Atacama 15-22 Jul, 2 viajantes. Interessado no pacote completo.\", \"lead_id\": 42 }"
      },
      "id": "wf01-tool-tarefa",
      "name": "Tool Criar Tarefa",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [620, 860]
    },
    {
      "parameters": {
        "name": "notificar_humano",
        "description": "Envia mensagem WhatsApp para a vendedora humana com resumo do lead. Use quando o cliente demonstrar interesse em fechar a venda.",
        "workflowId": "CONFIGURAR_DEPOIS",
        "specifyInputSchema": true,
        "schemaType": "fromJson",
        "jsonSchemaExample": "{ \"mensagem\": \"Lead João Carlos (5511999999999) quer fechar Atacama 15-22 Jul, 2 viajantes. Email: joao@email.com\" }"
      },
      "id": "wf01-tool-notificar",
      "name": "Tool Notificar Humano",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [760, 860]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"resposta\": $json.output } }}"
      },
      "id": "wf01-respond",
      "name": "Responder ao Conversas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Webhook Mensagem": {
      "main": [
        [{ "node": "Agente Bia", "type": "main", "index": 0 }]
      ]
    },
    "Agente Bia": {
      "main": [
        [{ "node": "Responder ao Conversas", "type": "main", "index": 0 }]
      ]
    },
    "Gemini 2.5 Flash": {
      "ai_languageModel": [
        [{ "node": "Agente Bia", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memoria Conversa": {
      "ai_memory": [
        [{ "node": "Agente Bia", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Tool Consultar Lead": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Atualizar Lead": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Consultar Funis": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Mover Etapa": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Criar Tarefa": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool Notificar Humano": {
      "ai_tool": [
        [{ "node": "Agente Bia", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
