n8n/workflows/wf-06-funil-automatico.json
{
  "name": "WF-06 Relatório Matinal — Leads Estagnados",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "wf06-trigger",
      "name": "Schedule 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300],
      "notes": "Dispara todos os dias às 08:00 (horário do servidor)."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crm:8000/api/pipeline/funnels",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "wf06-list-funnels",
      "name": "Listar Todos os Funis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CRM_HEADER_AUTH_CREDENTIAL_ID",
          "name": "CRM Brasileiros API"
        }
      },
      "notes": "Busca todos os funis ativos do CRM."
    },
    {
      "parameters": {
        "jsCode": "// Extrai lista de funis ativos com id e nome\nconst data = $input.first().json;\nconst funnels = (data.funnels || []).filter(f => f.is_active);\n\nif (funnels.length === 0) return [];\n\nreturn funnels.map(f => ({\n  json: { funnel_id: f.id, funnel_nome: f.nome }\n}));"
      },
      "id": "wf06-extract",
      "name": "Extrair Funis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "notes": "Extrai os funis ativos e gera um item por funil."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://crm:8000/api/pipeline/board/{{ $json.funnel_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "wf06-get-board",
      "name": "Buscar Board de Cada Funil",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CRM_HEADER_AUTH_CREDENTIAL_ID",
          "name": "CRM Brasileiros API"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Busca o board kanban de cada funil. O board agora inclui dias_limite por etapa."
    },
    {
      "parameters": {
        "jsCode": "// Analisa TODOS os boards e encontra leads estagnados\n// Usa dias_limite de cada etapa (dinâmico, configurado no funil)\n\nconst allBoards = $input.all();\nconst estagnados = [];\n\nfor (const boardItem of allBoards) {\n  const board = boardItem.json;\n  const funilNome = board.funnel?.nome || 'Desconhecido';\n  \n  for (const stage of (board.stages || [])) {\n    const limiteDias = stage.dias_limite || 7;\n    \n    for (const lead of (stage.leads || [])) {\n      // Usa entry_updated_at (última movimentação de etapa)\n      const dataRef = lead.entry_updated_at || lead.entry_created_at;\n      if (!dataRef) continue;\n      \n      const dias = Math.floor(\n        (Date.now() - new Date(dataRef).getTime()) / (1000*60*60*24)\n      );\n      \n      if (dias >= limiteDias) {\n        estagnados.push({\n          nome: lead.nome,\n          funil: funilNome,\n          etapa: stage.nome,\n          dias: dias,\n          limite: limiteDias,\n          responsavel: lead.responsavel_nome || 'Sem responsável'\n        });\n      }\n    }\n  }\n}\n\nif (estagnados.length === 0) return [];\n\n// Agrupa por funil > etapa para o relatório\nconst grupos = {};\nfor (const l of estagnados) {\n  const chave = `${l.funil} > ${l.etapa}`;\n  if (!grupos[chave]) grupos[chave] = [];\n  grupos[chave].push(l);\n}\n\n// Monta mensagem formatada\nlet msg = '';\nfor (const [grupo, leads] of Object.entries(grupos)) {\n  msg += `\\n📍 ${grupo}:\\n`;\n  for (const l of leads) {\n    msg += `  • ${l.nome} — ${l.dias} dias — ${l.responsavel}\\n`;\n  }\n}\nmsg += `\\nTotal: ${estagnados.length} lead(s)`;\n\nreturn [{\n  json: {\n    total: estagnados.length,\n    mensagem: msg,\n    detalhes: estagnados\n  }\n}];"
      },
      "id": "wf06-analise",
      "name": "Analisar Leads Estagnados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300],
      "notes": "Analisa todos os boards, filtra leads estagnados com base no dias_limite de cada etapa, agrupa por funil/etapa e monta a mensagem formatada."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/send-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"5551990119605\",\n  \"template_name\": \"alerta_matinal_leads\",\n  \"template_params\": [\"{{ $json.total }}\"]\n}",
        "options": {}
      },
      "id": "wf06-template",
      "name": "Enviar Template (Abrir Janela)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "notes": "Envia o template aprovado 'alerta_matinal_leads' para abrir a janela de conversa de 24h. Após isso, podemos enviar texto livre."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/send-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"5551990119605\",\n  \"message\": {{ JSON.stringify($('Analisar Leads Estagnados').first().json.mensagem) }}\n}",
        "options": {}
      },
      "id": "wf06-detalhes",
      "name": "Enviar Lista Completa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "notes": "Envia a lista completa formatada com quebras de linha via texto livre. Funciona porque o template anterior abriu a janela de conversa."
    }
  ],
  "connections": {
    "Schedule 8h": {
      "main": [[ { "node": "Listar Todos os Funis", "type": "main", "index": 0 } ]]
    },
    "Listar Todos os Funis": {
      "main": [[ { "node": "Extrair Funis", "type": "main", "index": 0 } ]]
    },
    "Extrair Funis": {
      "main": [[ { "node": "Buscar Board de Cada Funil", "type": "main", "index": 0 } ]]
    },
    "Buscar Board de Cada Funil": {
      "main": [[ { "node": "Analisar Leads Estagnados", "type": "main", "index": 0 } ]]
    },
    "Analisar Leads Estagnados": {
      "main": [[ { "node": "Enviar Template (Abrir Janela)", "type": "main", "index": 0 } ]]
    },
    "Enviar Template (Abrir Janela)": {
      "main": [[ { "node": "Enviar Lista Completa", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "CRM Atacama" },
    { "name": "WhatsApp" },
    { "name": "Pipeline" }
  ],
  "pinData": {}
}
