n8n/workflows/wf-09-notificacao-whatsapp.json
{
  "name": "WF-09 Notificação WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf09-webhook",
      "name": "Webhook Notificação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "notificacao",
      "notes": "Recebe chamadas do Gerenciador de Leads para enviar notificações via WhatsApp.\n\nPayload esperado:\n{\n  \"tipo\": \"lead_qualificado\" | \"tarefa_criada\" | \"custom\",\n  \"nome\": \"Nome do lead\",\n  \"whatsapp\": \"555190119605\",\n  \"email\": \"email@example.com\",\n  \"destinos\": \"Atacama, Uyuni\",\n  \"data_chegada\": \"2026-06-01\",\n  \"data_partida\": \"2026-06-07\",\n  \"num_viajantes\": \"2\",\n  \"observacoes\": \"Casal, viagem romântica\",\n  \"titulo_tarefa\": \"Enviar proposta\",\n  \"vencimento_tarefa\": \"2026-05-21\"\n}"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Dados do payload\nconst tipo = (input.tipo || input.body?.tipo || 'lead_qualificado').toLowerCase();\nconst nome = input.nome || input.body?.nome || 'Não informado';\nconst whatsapp = input.whatsapp || input.body?.whatsapp || '';\nconst email = input.email || input.body?.email || '';\nconst destinos = input.destinos || input.body?.destinos || '';\nconst dataChegada = input.data_chegada || input.body?.data_chegada || '';\nconst dataPartida = input.data_partida || input.body?.data_partida || '';\nconst numViajantes = input.num_viajantes || input.body?.num_viajantes || '';\nconst obs = input.observacoes || input.body?.observacoes || '';\nconst tituloTarefa = input.titulo_tarefa || input.body?.titulo_tarefa || '';\nconst vencimentoTarefa = input.vencimento_tarefa || input.body?.vencimento_tarefa || '';\n\n// Número destino da notificação (admin/operador)\nconst destinatario = $env.NOTIFICACAO_WHATSAPP || $env.ADMIN_WHATSAPP || '5551990119605';\n\nlet mensagem = '';\n\nif (tipo === 'lead_qualificado') {\n  mensagem = `🔥 *NOVO LEAD QUALIFICADO*\\n\\n`;\n  mensagem += `👤 ${nome}\\n`;\n  if (whatsapp) mensagem += `📱 ${whatsapp}\\n`;\n  if (email) mensagem += `📧 ${email}\\n`;\n  mensagem += `\\n`;\n  if (destinos) mensagem += `🗺️ Destino: ${destinos}\\n`;\n  if (dataChegada && dataPartida) {\n    mensagem += `📅 ${dataChegada} a ${dataPartida}\\n`;\n  } else if (dataChegada) {\n    mensagem += `📅 Chegada: ${dataChegada}\\n`;\n  }\n  if (numViajantes) mensagem += `👥 ${numViajantes} viajante(s)\\n`;\n  if (obs) mensagem += `\\n📝 ${obs}\\n`;\n  mensagem += `\\n💬 A Bia já confirmou os dados.\\nAcesse o CRM para enviar a proposta.`;\n\n} else if (tipo === 'tarefa_criada') {\n  mensagem = `📋 *NOVA TAREFA*\\n\\n`;\n  if (tituloTarefa) mensagem += `📌 ${tituloTarefa}\\n`;\n  if (vencimentoTarefa) mensagem += `📅 Vencimento: ${vencimentoTarefa}\\n`;\n  if (nome) mensagem += `👤 Lead: ${nome}\\n`;\n  if (obs) mensagem += `\\n📝 ${obs}`;\n\n} else {\n  // Notificação genérica\n  mensagem = `📢 *NOTIFICAÇÃO CRM*\\n\\n`;\n  if (nome) mensagem += `👤 ${nome}\\n`;\n  if (obs) mensagem += `\\n${obs}`;\n}\n\nreturn [{\n  json: {\n    destinatario,\n    mensagem,\n    tipo,\n    sucesso: true\n  }\n}];"
      },
      "id": "wf09-format",
      "name": "Formatar Mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "notes": "Formata a mensagem de notificação de acordo com o tipo:\n- lead_qualificado: dados completos do lead qualificado pela Bia\n- tarefa_criada: detalhes da tarefa automática\n- custom: mensagem genérica\n\nUsa NOTIFICACAO_WHATSAPP ou ADMIN_WHATSAPP como número destino."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://conversas:8001/api/conversations/send-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.CRM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.destinatario }}\",\n  \"message\": {{ JSON.stringify($json.mensagem) }}\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "wf09-send",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [740, 300],
      "onError": "continueRegularOutput",
      "notes": "Envia a notificação formatada via WhatsApp usando a API do Conversas.\n\nRequer:\n- NOTIFICACAO_WHATSAPP ou ADMIN_WHATSAPP: variável N8N com o número destino\n- CRM_API_KEY: chave de autenticação da API\n- Conversas rodando com WhatsApp configurado"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"sucesso\": true, \"tipo\": $('Formatar Mensagem').item.json.tipo, \"destinatario\": $('Formatar Mensagem').item.json.destinatario, \"mensagem\": \"Notificação enviada com sucesso\" } }}"
      },
      "id": "wf09-respond",
      "name": "Responder ao Gerenciador",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1000, 300],
      "notes": "Retorna confirmação para o Gerenciador de Leads informando que a notificação foi enviada."
    }
  ],
  "connections": {
    "Webhook Notificação": {
      "main": [
        [{ "node": "Formatar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Mensagem": {
      "main": [
        [{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Responder ao Gerenciador", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "CRM Atacama" },
    { "name": "Notificações" },
    { "name": "Conversas" }
  ]
}
