n8n/workflows/wf-10-agente-ia.json
{
  "name": "WF-10 Agente IA (Bia)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-bia",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "wf10-trigger",
      "name": "Webhook /agent-bia",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "notes": "Recebe requisições POST da plataforma Conversas quando o bot está ativo.\n\nPayload esperado:\n{\n  \"conversation_id\": 123,\n  \"lead_id\": 456,\n  \"whatsapp\": \"5511999999999\",\n  \"nome\": \"João Silva\",\n  \"mensagem\": \"Oi, quero saber sobre o Atacama\",\n  \"historico\": [últimas mensagens]\n}\n\nConfigura responseMode=responseNode para que o N8N espere a resposta do agente antes de retornar."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.mensagem }}",
        "options": {
          "systemMessage": "=Você é Bia, assistente de vendas da Brasileiros no Atacama — a principal agência de turismo para brasileiros no deserto do Atacama, Chile.\n\n🎯 SUA MISSÃO:\nConduzir o cliente pela jornada de compra, desde o primeiro contato até o fechamento da venda. Você é simpática, profissional e conhece TUDO sobre os destinos.\n\n📋 CONTEXTO DA CONVERSA:\n- WhatsApp do cliente: {{ $json.body.whatsapp }}\n- Nome do cliente: {{ $json.body.nome }}\n- Lead ID no CRM: {{ $json.body.lead_id || 'não vinculado' }}\n- Conversation ID: {{ $json.body.conversation_id }}\n\n🛠️ SUAS RESPONSABILIDADES:\n1. Se for o PRIMEIRO contato, use a ferramenta crm_buscar_leads para verificar se já existe. Se não existir, use crm_criar_lead.\n2. Sempre que captar informação relevante (destinos, datas, orçamento, número de viajantes), use crm_atualizar_lead para salvar.\n3. Coloque o lead no funil se ainda não estiver (crm_adicionar_ao_funil).\n4. Mova o lead entre etapas conforme o avanço: novo → em_contato → negociacao → fechado.\n5. Registre notas importantes com crm_adicionar_nota.\n6. Se agendar algo com o cliente, use crm_criar_tarefa para a equipe.\n7. Use conversas_alterar_responsavel quando precisar transferir o atendimento.\n\n⚠️ REGRAS:\n- Nunca invente preços. Diga que vai verificar e crie uma tarefa para a equipe.\n- Sempre salve as informações captadas no CRM.\n- Se o cliente perguntar algo que você não sabe, crie uma tarefa para a equipe humana.\n- Suas respostas devem ter no MÁXIMO 300 caracteres (limite do WhatsApp para visualização).\n- Responda SEMPRE em português brasileiro."
        }
      },
      "id": "wf10-agent",
      "name": "AI Agent (Bia)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [300, 300],
      "notes": "Agente IA principal. Recebe a mensagem do cliente e usa as tools para interagir com o CRM e Conversas.\n\nO system prompt instrui a Bia a:\n- Qualificar leads automaticamente\n- Salvar informações no CRM\n- Mover leads no funil conforme a conversa avança\n- Criar tarefas para a equipe humana\n- Respeitar o limite de 300 chars por mensagem"
    },
    {
      "parameters": {
        "model": "gemini-2.5-flash"
      },
      "id": "wf10-model",
      "name": "Google Gemini 2.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [150, 550],
      "notes": "Modelo de linguagem: Google Gemini 2.5 Flash.\nRequer credencial Google Gemini configurada no N8N com a GEMINI_API_KEY."
    },
    {
      "parameters": {
        "name": "crm_buscar_leads",
        "description": "Busca leads no CRM pelo nome, telefone ou email. Retorna a lista com IDs. SEMPRE use antes de criar um lead novo para evitar duplicatas.",
        "method": "GET",
        "url": "http://crm:8000/api/leads",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "search", "value": "={{ $fromAI('termo_busca') }}" } ] }
      },
      "id": "wf10-tool-buscar",
      "name": "Buscar Leads",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [400, 500],
      "notes": "Tool: Busca leads no CRM. O agente passa um termo de busca (nome, telefone ou email) e recebe a lista de resultados com IDs."
    },
    {
      "parameters": {
        "name": "crm_criar_lead",
        "description": "Cria um novo lead no CRM. Informe nome e whatsapp obrigatoriamente. Retorna o ID do lead criado — memorize esse ID para operações futuras.",
        "method": "POST",
        "url": "http://crm:8000/api/leads",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nome\": \"{{ $fromAI('nome') }}\",\n  \"whatsapp\": \"{{ $fromAI('whatsapp') }}\"\n}"
      },
      "id": "wf10-tool-criar",
      "name": "Criar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [550, 500],
      "notes": "Tool: Cria lead no CRM com nome e whatsapp. Retorna o ID gerado."
    },
    {
      "parameters": {
        "name": "crm_detalhar_lead",
        "description": "Busca o perfil COMPLETO de um lead pelo ID. Retorna todos os campos, destinos, tags, campos_personalizados e funis vinculados.",
        "method": "GET",
        "url": "=http://crm:8000/api/leads/{{ $fromAI('lead_id') }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] }
      },
      "id": "wf10-tool-detalhar",
      "name": "Detalhar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [700, 500],
      "notes": "Tool: Busca detalhes completos do lead por ID. Usado para verificar estado atual antes de atualizar."
    },
    {
      "parameters": {
        "name": "crm_atualizar_lead",
        "description": "Edita campos do lead: destinos (array), campos_personalizados (dict JSON com keys como 'origem', 'interesse', 'budget', 'num_viajantes'), data_chegada e data_partida (formato YYYY-MM-DD).",
        "method": "PUT",
        "url": "=http://crm:8000/api/leads/{{ $fromAI('lead_id') }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"destinos\": {{ JSON.stringify($fromAI('lista_destinos')) }},\n  \"campos_personalizados\": {{ JSON.stringify($fromAI('campos_dict_json')) }},\n  \"data_chegada\": \"{{ $fromAI('chegada_yyyy_mm_dd') }}\",\n  \"data_partida\": \"{{ $fromAI('partida_yyyy_mm_dd') }}\"\n}"
      },
      "id": "wf10-tool-atualizar",
      "name": "Atualizar Lead",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [850, 500],
      "notes": "Tool: Atualiza campos do lead. Suporta destinos, campos personalizados e datas de viagem."
    },
    {
      "parameters": {
        "name": "crm_listar_funis",
        "description": "Lista os funis e suas etapas. Útil para descobrir os IDs corretos antes de adicionar ou mover um lead. Não requer argumentos.",
        "method": "GET",
        "url": "http://crm:8000/api/pipeline/funnels",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] }
      },
      "id": "wf10-tool-funis",
      "name": "Listar Funis",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [400, 650],
      "notes": "Tool: Lista funis e etapas disponíveis. O agente usa para descobrir IDs válidos."
    },
    {
      "parameters": {
        "name": "crm_adicionar_ao_funil",
        "description": "Coloca o lead dentro de um funil pela primeira vez. Use funnel_id=1 como padrão. etapa_id é o ID da etapa (ex: 'novo', 'em_contato').",
        "method": "POST",
        "url": "=http://crm:8000/api/pipeline/funnels/{{ $fromAI('funnel_id') }}/leads",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": {{ $fromAI('lead_id') }},\n  \"etapa_id\": \"{{ $fromAI('etapa_id') }}\"\n}"
      },
      "id": "wf10-tool-add-funil",
      "name": "Adicionar ao Funil",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [550, 650],
      "notes": "Tool: Insere o lead no funil pela primeira vez. Requer funnel_id e etapa_id."
    },
    {
      "parameters": {
        "name": "crm_mover_etapa_funil",
        "description": "Move o lead para uma nova etapa no funil. PRECISA do entry_id (ID da entrada no pipeline, obtido via crm_detalhar_lead no campo 'funis').",
        "method": "PUT",
        "url": "=http://crm:8000/api/pipeline/entries/{{ $fromAI('entry_id') }}/move",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"etapa_id\": \"{{ $fromAI('nova_etapa_id') }}\"\n}"
      },
      "id": "wf10-tool-mover",
      "name": "Mover no Funil",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [700, 650],
      "notes": "Tool: Move o lead entre etapas do funil. Requer entry_id (não lead_id)."
    },
    {
      "parameters": {
        "name": "crm_adicionar_nota",
        "description": "Adiciona uma nota ao histórico/mural de negociação do lead. Use para registrar resumos do que foi discutido com o cliente (máximo 250 caracteres).",
        "method": "POST",
        "url": "=http://crm:8000/api/pipeline/history/{{ $fromAI('lead_id') }}/note",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "descricao", "value": "={{ $fromAI('texto_resumo') }}" } ] }
      },
      "id": "wf10-tool-nota",
      "name": "Adicionar Nota",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [850, 650],
      "notes": "Tool: Registra nota no histórico do lead. O agente usa para documentar o que foi discutido."
    },
    {
      "parameters": {
        "name": "crm_listar_tags",
        "description": "Lista todas as tags disponíveis no CRM com seus IDs e cores. Use para saber quais tags existem antes de atribuí-las.",
        "method": "GET",
        "url": "http://crm:8000/api/tags",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] }
      },
      "id": "wf10-tool-tags",
      "name": "Listar Tags",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [400, 800],
      "notes": "Tool: Lista tags do CRM para o agente poder atribuí-las ao lead."
    },
    {
      "parameters": {
        "name": "crm_adicionar_tags",
        "description": "Substitui as tags do lead. Envie um array de IDs de tags: [1, 2, 3].",
        "method": "PUT",
        "url": "=http://crm:8000/api/tags/lead/{{ $fromAI('lead_id') }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tag_ids\": {{ JSON.stringify($fromAI('array_de_ids')) }}\n}"
      },
      "id": "wf10-tool-set-tags",
      "name": "Atribuir Tags",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [550, 800],
      "notes": "Tool: Define as tags do lead (substitui todas). Recebe array de IDs."
    },
    {
      "parameters": {
        "name": "crm_criar_tarefa",
        "description": "Cria uma tarefa/checklist pendente no CRM vinculada ao lead. Use para agendar follow-ups, reuniões ou pendências para a equipe humana.",
        "method": "POST",
        "url": "http://crm:8000/api/tasks",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"titulo\": \"{{ $fromAI('titulo_da_tarefa') }}\",\n  \"descricao\": \"{{ $fromAI('detalhes') }}\",\n  \"lead_id\": {{ $fromAI('lead_id') }},\n  \"data_vencimento\": \"{{ $fromAI('data_iso_formato_opcional') }}\"\n}"
      },
      "id": "wf10-tool-task",
      "name": "Criar Tarefa",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [700, 800],
      "notes": "Tool: Cria tarefa vinculada ao lead. O agente usa quando precisa delegar algo para a equipe humana."
    },
    {
      "parameters": {
        "name": "conversas_alterar_responsavel",
        "description": "Altera o responsável de uma conversa/lead. Use responsavel_id=0 para Agente IA, ou o ID do usuário humano para transferir o atendimento.",
        "method": "PUT",
        "url": "=http://conversas:8001/api/conversations/{{ $fromAI('conversation_id') }}/responsavel",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "X-API-Key", "value": "={{ $env.CRM_API_KEY }}" } ] },
        "sendQuery": true,
        "queryParameters": { "parameters": [ { "name": "responsavel_id", "value": "={{ $fromAI('novo_responsavel_id') }}" } ] }
      },
      "id": "wf10-tool-resp",
      "name": "Alterar Responsável",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [850, 800],
      "notes": "Tool NOVA: Altera o responsável da conversa via API do Conversas. Sincroniza automaticamente com o CRM. Permite transferir do bot para humano ou vice-versa."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"resposta\": {{ JSON.stringify($json.output) }},\n  \"conversation_id\": {{ $('Webhook /agent-bia').item.json.body.conversation_id }}\n}",
        "options": {}
      },
      "id": "wf10-respond",
      "name": "Retornar Resposta ao Conversas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300],
      "notes": "Retorna a resposta gerada pela IA de volta para a plataforma Conversas.\n\nO Conversas então envia a mensagem ao WhatsApp do cliente via Meta Cloud API.\n\nFormato: { resposta: 'texto da Bia', conversation_id: 123 }"
    }
  ],
  "connections": {
    "Webhook /agent-bia": {
      "main": [[ { "node": "AI Agent (Bia)", "type": "main", "index": 0 } ]]
    },
    "AI Agent (Bia)": {
      "main": [[ { "node": "Retornar Resposta ao Conversas", "type": "main", "index": 0 } ]]
    },
    "Google Gemini 2.5 Flash": {
      "ai_languageModel": [[ { "node": "AI Agent (Bia)", "type": "ai_languageModel", "index": 0 } ]]
    },
    "Buscar Leads": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Criar Lead": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Detalhar Lead": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Atualizar Lead": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Listar Funis": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Adicionar ao Funil": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Mover no Funil": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Adicionar Nota": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Listar Tags": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Atribuir Tags": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Criar Tarefa": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] },
    "Alterar Responsável": { "ai_tool": [[ { "node": "AI Agent (Bia)", "type": "ai_tool", "index": 0 } ]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "CRM Atacama" },
    { "name": "IA" },
    { "name": "Conversas" },
    { "name": "WhatsApp" }
  ],
  "pinData": {}
}
