n8n/workflows/bia_rag/final/02_bia_context_retrieval.json
{
  "name": "BIA Context Retrieval (RAG)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bia-context-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b1a11111-0000-4000-8000-000000000001",
      "name": "Webhook Buscar Contexto",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "bia-context-search",
      "notes": "Endpoint interno para retrieval. Autenticar com Header Auth (X-Webhook-Token) via credencial 'Webhook Auth — BIA RAG' antes do go-live (mesmo padrao do GUARDRAILS-03)."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://bia_rag:8100/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.body.query || $json.query }}\",\n  \"top_k\": {{ $json.body.top_k || 6 }},\n  \"include_pending\": false,\n  \"as_payload\": true\n}",
        "options": { "timeout": 15000 }
      },
      "id": "b1a11111-0000-4000-8000-000000000002",
      "name": "Chamar Servico RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 0],
      "onError": "continueErrorOutput",
      "notes": "Chama o servico RAG interno. Credencial httpHeaderAuth 'BIA RAG Auth' (header X-BIA-RAG-Token). Timeout 15s. Ramo de erro separado (nao mascara falha)."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "b1a11111-0000-4000-8000-000000000003",
      "name": "Responder Contexto",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"grounded\": false,\n  \"answerable\": false,\n  \"error\": \"rag_unavailable\",\n  \"warnings\": [\"servico RAG indisponivel; a BIA deve escalar para humano, nao inventar\"]\n}",
        "options": {}
      },
      "id": "b1a11111-0000-4000-8000-000000000004",
      "name": "Responder Falha Segura",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [520, 120],
      "notes": "Falha honesta: se o RAG cair, responde grounded=false para a BIA escalar; nunca inventa."
    }
  ],
  "connections": {
    "Webhook Buscar Contexto": { "main": [[{ "node": "Chamar Servico RAG", "type": "main", "index": 0 }]] },
    "Chamar Servico RAG": {
      "main": [
        [{ "node": "Responder Contexto", "type": "main", "index": 0 }],
        [{ "node": "Responder Falha Segura", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "_meta": {
    "package": "BIA-RAG-CONTEXT-01",
    "purpose": "Endpoint interno de retrieval que a BIA (WF-01) chama antes de gerar a resposta.",
    "import_notes": "Importar INATIVO. Vincular credenciais por NOME no UI: 'BIA RAG Auth' (httpHeaderAuth, header X-BIA-RAG-Token) no no 'Chamar Servico RAG'; 'Webhook Auth — BIA RAG' no Webhook. Testar em clone antes de ativar."
  }
}
